.auth {
    margin-top: 9px;
}
.aauth {
    text-decoration: underline;
}
.btauth {
    border-radius: 15px !important;
    color: #ffffff;
    background-color: #666;
}
.login-box-msg {
    color: #bac1c7;
    padding:0 !important;
}
.login-box-msgsend {
    color: #bac1c7;
    margin-bottom: 40px;
}
.ttauth {
    font-weight: bold;
}
.login-box {
    padding: -100px !important;
}
.table {
    border-color: #aeb3ba !important;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-color: #aeb3ba !important;
    padding: 8px;
    vertical-align: middle !important;
}

.table-bordered > thead > tr > th{
    background-color: #c1ea34;
}
.modal-body-content {
    margin-bottom: 60px;
}
.box-header {
    border-bottom: 1px solid #cccccc42;
    margin-bottom: 10px;
}
.input-group[class*=col-] {
    float: inherit;
    padding-right: 0;
    padding-left: 0;
}
.btn-custom {
    width : 127px !important;
}
.file-input file-input-new theme-fa {
    margin-left: 192px !important;
}
.file-caption-main {
    margin: 0 !important;
    width: 100% !important;
}
.login-box-body {
    text-align: center;
}
.lds-ring {
    background: #3535356b;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 6px;
    left: 50%;
    top: 50%;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.send-msg-success {
    padding: 20px;
    margin-bottom: 30px;
}
.fa-arrow-circle-up {
    color: #1ab7ea;
    cursor: pointer;
}
.fa-arrow-circle-down {
    color: #e0a800;
    cursor: pointer;
}
.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}
.white-space{
    white-space: pre-wrap;
}